<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- 자바 스크립트는 항상 제일 밑에 놔둔다. -->
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyBEPYUPfSc2zheE0gCGVOsaqhkUAoVTqm8",
    authDomain: "gooleapp-3358a.firebaseapp.com",
    databaseURL: "https://gooleapp-3358a.firebaseio.com",
    projectId: "gooleapp-3358a",
    storageBucket: "gooleapp-3358a.appspot.com",
    messagingSenderId: "136258679049",
    appId: "1:136258679049:web:bad067ec0eb00742aa23d8",
    measurementId: "G-T1KLXT8BV0"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
</body>
</html>
